<div class="landing-page">
  <div class="products">
    <div class="products--row">
      <div *ngFor="let product of products" class="landing-page__product">
        {{ product.name }} | {{ product.price }} | {{ product.image }}
        <button (click)="view(product.id)">View Product</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selected">
  <div class="landing-page__product--heading">
    <span class="landing-page__product--name">{{ product.name }} </span><span class="landing-page__product--price">{{ product.price | currency:'GBP':true }}</span>
  </div>
  <div class="landing-page__product--image">
    {{ product.image }}
  </div>
  <div class="landing-page__product-availability">
    <span class="landing-page__product--available" *ngIf="product.available > 0">{{ product.available }}</span>
    <span class="landing-page__product--releaseDate" *ngIf="product.available < 0">{{ product.releaseDate }}</span>
  </div>
  <button (click)="deselect()">Close</button><button (click)="purchase(product.id)" *ngIf="product.available > 0">Purchase</button>
</div>
